*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/CONTACTO.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    font-size: 1.5em;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #84543C; 
    font-family: Gidugu;
}

span{
    font-size: 18px;
    color: rgb(255, 41, 41);
    font-weight: 1000;
    margin-left: 10px;
   
}

button:hover{
    background-color: #EBA36D;
}

header{
    background-color: #7e3f20;
    opacity: 80%;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e3f20;
}

.logo{
    padding-left: 1%;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #EDA46C;
}

/* #home{ 
    text-align: center;
    padding-top: 40px;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(img/CONTACTO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */
.titulo{
    font-size: 35px;
    text-align: center;
    font-family: Mulish;
    color: #EDA46C;
    margin: 0;
    padding: 10px;
    padding-top: 3%;
    text-shadow: 2px 2px 4px black;
}
.formulario{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 340px;
    height: 500px;
    background: white;
    color: black;
    opacity: 50%;
    padding: 15px;
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Serif Display', serif;
    
}
.controls{
    width: 100%;
    padding: 10px;
    border: none;
    color: black;
    border-bottom: 2px solid black;
}
.seleccionador{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.caja{
    width: 100%;
    height: 72%;
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.btnEnviar{
    text-align: center;
    align-items: right;
    font-size: 5px;;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #84543C; 
    font-family: Gidugu;
}
.btnInicio{
    padding: 1%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/*Footer*/

footer{
    background-color: #EBA36D; 
    font-family: Gidugu;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .container{
    display: flex;
    padding: 0 20px;
    background-color: #EBA36D; 
    justify-content: center;
    
}
footer nav a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: #84543C;
}

@media(min-width:720px){
    .logo{
        background-image: url(img/LOGOS/logo\ negro.png);
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 100px;
    }
    header{
        position: fixed;
        width: 100%;
        background-color: #84543C;
        
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        font-family: Gidugu;
        font-size: 24px;
    }
    header nav:hover{
        color: #EDA46C;
    }


    /* #espacio{
        padding: 3%;
    } */
    .home{
        padding: 10%;
        height: 90vh;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .divUno{
        width: 45%;
        align-content: center;
    }
    .divDos{
        width: 45%;
        padding-bottom: 5%;
    }
    .formulario{
        width: 80%;
        height: 70%;
        display: flex;
        justify-content:space-around;
        border-radius: 10px;
    }
    button{
        font-size: 30px;
    }

/*Footer*/

    footer{
        
    }
    footer .container{
        display: flex;
        flex-direction: row;
        background-color: #EDA46C;
        
    }
    footer .navFooter{
        width: 60%;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

    }
    footer .imgFoot{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    footer .imgFooter{
        background-image: url(img/LOGOS/VAUBAN\ CHAPITA.png);
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 200px;
    }
    
}