*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    font-size: 1.5em;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #84543C; 
    font-family: Gidugu;
}
button:hover{
    background-color: #EBA36D;
}
header.container{
    max-width: 8750%;
    margin: auto;
}

header{
    background-color: #7e3f20;
    opacity: 80%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e3f20;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 24px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #EDA46C;
}

.logo{
    background-image: url(img/LOGOS/logo\ blanco.png);
    background-size: cover;
    background-position: center center;
    height: 50px;
    width: 100px;
}

.homeQuienesSomos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-family: Mulish;
}

.btnInicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contenedorImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgQuienesSomos{
    background-image: url(img/QUIENES\ SOMOS.png);
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 250px;
}

@media(min-width:720px){
    .logo{
        background-image: url(img/LOGOS/logo\ negro.png);
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 100px;
    }
    header{
        position: fixed;
        width: 100%;
        background-color: #84543C;
        
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        font-family: Gidugu;
        font-size: 24px;
    }
    header nav:hover{
        color: #EDA46C;
    }
    h1{
        font-size: 250%;
        font-family: Mulish, Bold;
    }
    p{
        font-size: 130%;
        font-family: Mulish, Bold;
    }
    .iconos{
        display: flex;
        align-items: flex-end;
    }
    
    .homeQuienesSomos{
        display: flex;
        padding-top: 5%;
    }
    .containerDos{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2%;
    }
    .texto{
        width: 45%;
        padding: 2% 8%;
        text-align: left;
        justify-content: space-around;
    }
    .contenedorImg{
        width: 55%;
    }
}