*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/CONTACTO.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Header*/
ul{ list-style: none;}
button{
    font-size: 1.5em;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #84543C; 
    font-family: Gidugu;
}
.btnConocenos{
    opacity: 80%;
}
.btnContactanos{
    padding: 0 15px;
    background-color: transparent;
    color: #84543C;
    border: 3px solid #84543C;
}
.btnVerProd{
    background-color: transparent;
    border: 3px solid white;
    padding: 0 15px;
}
button:hover{
    background-color: #EBA36D;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header{
    background-color: #7e3f20;
    opacity: 80%;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7e3f20;
}

.logo{
    padding-left: 1%;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #EDA46C;
}
.homeUno{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-left: 50%;
    font-family: Mulish;
    flex-direction: column;
    height: 100vh;
    color: #000000;
    background-image:url(img/INVERTIDA.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    float: right;
}
.logoHomeUno{
    background-image: url(img/LOGOS/logo_blanco_pequeño.png);
    background-repeat: no-repeat;
}

.homeDos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #FBEADD;
    /* padding: 0 62.5%; */
}
/* .homeDos img{
    width: 60%;
    height: 60%;
} */
.imgHomeDos{
    display: flex;
    justify-content: center;
}
.explora{
    font-family: Mulish;
    font-size: 300%;
    font-weight: bold;
    color: #84543C;
    margin-top: 2px;
    margin-bottom: -5px;
    padding: 0;
}
.caminos{
    font-family: Mulish;
    font-size: 200%;
    font-weight: bold;
    color: #84543C;
    margin-top: 0;
    margin-bottom: 0;
}
.empresa{
    font-family: 'Noto Serif Display', serif;
    font-size: 120%;
    font-weight: bold;
    color: #84543C;
    margin-top: 0;
    margin-bottom: 0;
}
.subir{
    font-family: Mulish;
    font-size: 180%;
    font-weight: bold;
    text-align: right;
    color: #EBA36D;
    margin-top: 0;
    margin-bottom: 0; 
}
.btnCC{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

#homeCuatro{
    display: flex;
    align-items: center;
    padding: 40px 0;
    background-color: #84543C;
    text-align: center;
}

/*Footer*/

footer{
    background-color: #EBA36D; 
    font-family: Gidugu;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .container{
    display: flex;
    padding: 0 20px;
    background-color: #EBA36D; 
    justify-content: center;
    
}
footer nav a{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: #84543C;
}

@media(min-width:720px){
    .logo{
        background-image: url(img/LOGOS/logo\ negro.png);
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 100px;
    }
    header{
        position: fixed;
        width: 100%;
        background-color: #84543C;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        font-family: Gidugu;
        font-size: 24px;
    }
    header nav:hover{
        color: #EDA46C;
    }
    #homeUno{
        height: 150vh;
        display: flex;
    }
    #homeUno .logoHomeUno{
       
    }
    /* .imgLogoPrincipal{
        background-image: url(img/LOGOS/logo\ blanco.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 700px;
        height: 400px;
    } */
    .homeDos{
        padding: 0;
        height: 85vh;
    }
    .homeDos .container{
        display: flex;
        justify-content: space-between;
    }
    .homeDos .textoHomeDos{
        width: 60%;
        padding-left: 5%;
        padding-right: 2%;
        
    }
    .homeDos .imgHomeDos{
        width: 40%;
        justify-content: flex-end;
    }
    .explora{
        font-size: 300%;
    }
    .caminos{
        font-size: 180%;
    }
    .empresa{
        font-size: 130%;
    }
    .subir{
        font-size: 220%s;
    }
    
    /* .homeDos .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        ) ,url(img/HOME2_A.png);
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 600px;
        padding-right: 0px;
    } */
    /* .homeDos .imgHomeDos{
        padding: 0;
        width: 40%;
    } */
    #homeTres{
       display: flex;
        
    }
    #homeTres p{
        margin: 0;
        padding: 0;
    }
    .imgHomeTres{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        ), url(img/HOME3_A.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 400px;
        width: 1400px;
        
    }

    footer{
        display: flex;
        justify-content: center;
        background-color: #EBA36D; 
        font-family: Gidugu;
        color: black;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    footer .container{
        display: flex;
        flex-direction: row;
        background-color: #EDA46C;
        
    }
    footer .navFooter{
        width: 60%;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

    }
    footer .imgFoot{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    footer .imgFooter{
        background-image: url(img/LOGOS/VAUBAN\ CHAPITA.png);
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 200px;
    }

    .iconoinsta{
        justify-content: center;
        align-items: center;
    }

}