$coloresPrimarios:red;
$coloresSecundarios: blue;
$coloresDetalle: orange;

body{
    background-color: black;
}
h1 {
    background-color: $coloresPrimarios;
}
p{
    background-color: $coloresSecundarios;
}
